.slider {
  flex: 2;
  width: 100%;
  background: black;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}
.slide_bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-blend-mode: hard-light;
  opacity: 1;
  transform: rotate(5deg) translate(-50px, -20px) scale(1.4);
  transition: transform 10s ease;
}
.slide_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  line-height: 0.8;
  opacity: 0;
  width: 70%;
  margin: 15%;
  transform: scale(1.5);
  transition: all 5s ease;
}
.slide_title {
  display: block;
  font-size: 50px;
  font-family: 'Roboto Slab', serif;
  padding: 5px 20px;
  margin: 20px 0;
  background: white;
  color: #0c76ba;
}
.slide_desc {
  display: block;
  font-size: 30px;
  text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
  padding: 5px 20px;
  background: #0c76ba;
  color: white;
  font-size: 20px;
}
.slide-enter {
  opacity: 1;
}
.slide-enter .slide_bg {
  transform: rotate(-5deg) translate(50px, 20px) scale(1.1);
}
.slide-enter .slide_content {
  transform: scale(1);
  opacity: 1;
}
.slide-leave {
  opacity: 0;
}
